.homepage {
  margin: 0 auto;
  min-width: 60%;
  text-align: center;
  .about {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.button {
  text-decoration: none;
  display: inline-block;
  background: $primary;
  color: $text-light;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  &:hover {
    background: $primary-hover;
  }
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $primary-hover;
  }
}

@media (max-width: 768px) {
  .homepage {
    .links {
      flex-direction: column;
    }
    .about {
      width: 80%;
      p {
        min-width: 100%;
      }
    }
  }
  .button:nth-child(even) {
    margin-top: 1rem;
  }
}
