.App {
  text-align: center;
}

.App h1 {
  color: #282c34;
}

.Features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Tools-logo {
  height: 32vmin;
  pointer-events: none;
  margin-right: 2.75rem;
}

.React-logo {
  height: 32vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
