.App {
  text-align: center;
}

.App h1 {
  color: #282c34;
}

.Features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Tools-logo {
  height: 32vmin;
  margin-right: 2.75rem;
}

.React-logo {
  height: 32vmin;
}

.Tools-logo {
  transition: transform 0.3s ease-out;
}

.Tools-logo:hover {
  transform: scale(1.05);
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 10s linear;
  }
  .React-logo:hover {
    animation-play-state: paused;
  }
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.1);
  }
}
