// Text colors
$text-light: #fafafa;
$text-dark: #282c34;

//Background colors
$dark-bg: #282c34;
$light-bg: antiquewhite;

//Post Comment colors
$comment-dark: #6d6d6d;
$comment-light: #ebd7bf;

//Links, Header, Footer & misc colors
$dark-sacffolding: #1f2022;
$primary: #ea3546;
$primary-hover: #bb2938;
