// Text colors
$text-light: #fafafa;
$text-dark: #282c34;

//Background colors
$dark-bg: #282c34;
$light-bg: #fafafa;

//Links, Header, Footer & misc colors
$dark-sacffolding: #1f2022;
$primary: #ea3546;
$primary-hover: #bb2938;
$bgclr: #ffcbd0;
